@import "reset.scss";
@import "font.scss";
@import "mixin/index.scss";
@import "flex.scss";
@import "common.scss";
@import "tooltip.scss";

.box {
  border: 1px solid rgba(111,111,111,0.6);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.section {
  margin-bottom: 10px;
}

.tree-node {
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(72, 179, 236, 1);
  border-radius: 5px;
  flex-direction: column;
  position: relative;
  .tree-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    strong{
      flex: 1;
      text-align: left;
      padding-left: 10px;
    }
  }
}