.box-normal {
  border: 2px dashed rgba(111,111,111,0.6);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.run {
  margin-bottom: 20px;
  font-size: 14px;
  .key {
    color: #93d2f4;
  }
  .val {
    color: #F3CE99;
  }
}
.section {
  margin: 50px 0 20px;
  font-size: 24px;
}
.svg-box {
  & > div, svg {
    width: 100% !important;
  }
}
.tree-node {
  height: 100px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  background:#263852;
  border-radius: 5px;
  flex-direction: column;
  position: relative;
  .tree-text {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    strong{
      flex: 1;
      text-align: left;
      padding-left: 6px;
    }
  }
  &:not(.tree-1):after {
    content: '';
    position: absolute;
    top: 42px;
    left: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-left-color: #dddddd;
    border-left-width: 16px;
  }
}